<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="maincontent">    
    {{>header}}
    <img class = "me" src="/img/me.png">
    <p>This is me. John Wick!</p>p>
    </div>

    {{>footer}}
</body>

</html>